.login{
    display: flex;
    align-items: center;
    justify-content: center; 
    overflow: auto;   
    flex-direction: column;
    gap: 40px;
    padding-top: 70px;
}

.login__title{
    display: flex;

}

.login__login{
    border-right: 1px solid rgb(115, 115, 115);
    padding-right: 10px;
    color: rgb(0, 81, 255);
}

.login__registration{
    border-left: 1px solid rgb(115, 115, 115);
    padding-left: 10px;
    color: grey;
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
p {
    color: grey;
}

span{
    color: rgb(0, 81, 255);
}